.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;

}

body {
    background-color: #002662;
}

.headerText {
    position: relative;
}

.headerText .tooltip {
    visibility: hidden;
    width: 40%;
    background-color: rgb(0 216 249 / 10%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 1;
}

.headerText:hover .tooltip {
    visibility: visible;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
    cursor: pointer;
    transition: all 1s ease;
}

h1:hover {
    color: aqua;
    transform: scale(1.02);
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

.refresh-button {
    text-align: center;
    margin-top: 2%;
}

.refresh-button button {
    background-color: #4ECCA3;
    border-radius: 5px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: none;
    font-size: 1.25rem;
    transition: all 1s ease;
    cursor: pointer;
}

.refresh-button button:hover {
    background-color: #74ffd1;
    transform: scale(1.02);
}

footer {
    margin-top: 2%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;

}
